{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top" style="border-bottom: 1px solid black;">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Intern</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Jobs <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#job-list">Jobs list</a></li>
              {% if request.user.is_company %}
                  <li><a href="#job-post">Register a job post</a></li>
                  <li><a href="#job-announcement">Create a job announcement</a></li>
              {% endif %}
            </ul>
          </li>
          <li><a href="#section2">Section 2</a></li>
          <li><a href="#section3">Section 3</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.user }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#section41">Edit account</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <br><br><br><br><br>
<div id="job-list" class="well">
    <fieldset>
        <legend>Internship offers</legend>
        <ul class="list-group">
            {% for job in job_list %}
                <li class="list-group-item">
                    {{ job }}
                    {% if request.user.is_student %}
                        <a href="#" class="pull-right" style="color: black">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </fieldset>
</div>
s
{% if request.user.is_company %}
    <div id="job-post" class="well">
        <form method="post" action="{% url 'new_job_post' %}">
            {% csrf_token %}
            <fieldset>
                <legend>Job Post Registration</legend>
                {{ job_post_form.as_p }}
            </fieldset>
            <button type="submit" class="btn btn-block btn-success">Register Job Post</button>
        </form>
    </div>
    <br>
    <div id="job-announcement" class="well">
        <form method="post" action="{% url 'new_job_offer' %}">
            {% csrf_token %}
            <fieldset>
                <legend>Internship Offer Registration</legend>
                {{ job_announcement_form.as_p }}
            </fieldset>
            <button type="submit" class="btn btn-block btn-success">Create Internship Offer</button>
        </form>
    </div>
{% endif %}

{% endblock %}s